<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello,World!</h1>
<script>
    (function (w, d, n, a, j) {
        w[n] = w[n] || function () {
                    (w[n].a = w[n].a || []).push(arguments);
                };
        j = d.createElement('script');
        j.async = true;
        j.src ='https://qiyukf.com/script/da298398aa74aaef148ee3c5a55024e9.js';
        d.body.appendChild(j);
    })(window, document, 'ysf');
</script>
</body>

</html>